.uncompleted
    background-color: #818181 !important
    cursor: default !important
.active
    background-color: #dbb963 !important
    border: 0.1875em solid black !important
.levelPickerWrapper
    height: 65vh
    width: 80%
    margin: 5vh auto 0 auto
    padding: 20px 20px
    display: flex
    justify-content: center
    align-items: center
    background-color: #dbb963
    position: relative
    .levelPickerContentWrapper
        background-color: #efd591
        height: 60vh
        width: 100%
        padding: 25px
        display: flex
        flex-direction: column
        justify-content: space-between
        .levelWrapper
            display: flex
            justify-content: space-between
            a
                text-decoration: none
                color: black
                .lvl
                    background: #dbb963
                    border: 0.1875em solid black
                    border-radius: 50%
                    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125)
                    height: 5em
                    width: 5em
                    display: flex
                    justify-content: center
                    align-items: center
                    .lvlItem
                        font-size: 32px 