.absolute
    position: absolute
    z-index: 999
    width: 100%;
    .modal
        z-index: 999
        height: 100vh
        display: flex
        justify-content: center
        align-items: center
        .modal_content_wrapper
            background-color: #dbb963
            padding: 15px 20px
            .modal_content
                padding: 10px 20px
                background-color: #efd591
                display: flex
                flex-direction: column
                align-items: center
                h1
                    margin-top: 10px
                h2
                    margin-top: 0px
    .green
        background-color: #a8e13e
    .green:hover
        transition: 0.3s
        background-color: #a6ff00
    .red
        background-color: #bb441f
    .red:hover
        transition: 0.3s
        background-color: #bb441f